<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}
<style>
 

.page-title-alt {
    padding: 150px 0 70px;
}
.contentIrriHeading
  {
    color: #206020;
    font-family: "Eras ITC", "Eras Light ITC",  sans-serif!important;
    font-size: 50px;
    text-transform: none;
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
}
.leftContent {
    float: left;
    width: 35%;
    padding-right:40px ;

}

.rightContent {
    float: right;
    width: 65%;
}
.abutton {
  border-radius: 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
  .card-img-top {
    width: 50%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.IrriTitle{
  text-align: center;
}
.cardmargin{
  margin-left: 180px;
}
.Features {

  background-image: url('/images/backgrounds/bg-dots.png');
}

.greenImage{
  width:100%;
   height:55%;
}

@media(max-width: 768px){
  .card {
    display: block;
  }

  .greenImage{
   width:100%;
   height:100%;
}


}
.alignsas{
  text-align: justify;
  text-justify: inter-word;
}
.footer-sectionP{
    padding-top: 50px;
}

</style>

<head>

</head>
<body>
  {{- partial "header.html" . -}}
  
  <br/>

 <section class="section">

  <div class="container">
      
    <img src="/images\PrductWebImg\Climate Control.jpg" alt="Snow" width="100%" height="100%">
    
  </div>
  
  <br/>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with site.Data.homepage.about }}

          <h2 class="contentHeading"> <img src="/images\product_Icon\Climate Control.png" width=10% height="10%"> Smart Climate Control</h2>
          <p class="contenttext">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="contenttext">
        <h5 class="col-lg-10 mx-auto text-center contentsubHeading IrriTitle">Measure, Control & Automate micro-environment, irrigation & fertigation parameters in GreenHouse
        </h5>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 contenttext">
                  <!--div class="financingTe"></div-->
                  Micro-environment in a Greenhouse needs to be closely monitored for parameters such as Temperature,humidity, CO2, Luminescence,
fertigation and soil moisture. Close measurement, comparison against set trigger points and rules table, and final automation of control devices is achieved through
Sasya Smart Climate Control IOT Devices. 
                  <br/>
                  <br/><br/>  <div style="text-align: center;">
                  <a href="/images/brochure/Brochure_Sasya_GreenhouseAutomation_vCl.pdf" target="_blank">
                  <button type="button" class="btn btn-success abutton">Download Brochure</button></a><br/><br/>
                   </div>
                </div>
                    

                
                    <div class="col-lg-8 col-md-12 col-sm-12 videoWrapper">
                        
                         <img src="/img/Greenhouse.png" alt="Snow" class="greenImage">
                    </div>
                </div>


</div>
      
    </div>
  </section>
    

    <section>
    <div class="col-lg-12 col-md-12 col-sm-12 contenttext">
      <ul class="Features">
      <h3 class="contentHeading"> Product Features</h3>
    
      <table align="center">
        <tr>
      <td><img src="/img/gh1.png"></td>
        <td> Environment Sensors & Wireless Nodes.Multi-zone Temp, Humidity, Soil pF, CO2,Lux, water pH, TDS sensors and nodes</td> 
      </tr>
        <tr>
      <td><img src="/img/gh2.png"></td>
        <td> External Env. Sensor Node.Wind gauge & Rain sensors</td> 
      </tr>
      <tr>
      <td><img src="/img/gh3.png"></td>
        <td> Gateway and Controller.Display units, Multi-channel Relay units</td> 
      </tr>
      <tr>
      <td><img src="/img/gh4.png"></td>
        <td> Automation Bus and Control Panels.Relays into Existing switch boards for automation</td> 
      </tr>
      <tr>
      <td><img src="/img/gh5.png"></td>
        <td> Cloud Platform.Data store, Rules, Triggers and Automation setting, Reports & Manual Overrides</td> 
      </tr>
     
      </ul>
    </table>
    </section>
  
  </br>
  </br>
  </br>
  
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
      <h2 class="contentHeading">Smart Climate Control Product</h2>
    </div>
    
        
        
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title contenttext">Co<sub>2</sub> Sensors</h4>
            </div>
            <img src="/img/xy.png" class="card-img-top">
            
            </div>
        </div>
        
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title contenttext">Sensor Node</h4>
            </div>
            <img src="/img/ABC.png" class="card-img-top">
            
            </div>
        </div>
        
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title contenttext">Gateway Controller</h4>
            </div>
            <img src="/img/gateway.png" class="card-img-top">
            
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title contenttext">Local Display</h4>
            </div>
            <img src="/img/localdisplay.png" class="card-img-top">
            
           
            </div>
        </div>
        
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title contenttext">Soil pF</h4>
            </div>
            <img src="/img/soilpf.png" class="card-img-top">
            
           
            </div>
        </div>
      
      </div>
    </div>
   
<br>
<!--footer-->
    <footer class="bg-dark footer-sectionP">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5 class="text-light">Email</h5>
              <p class="text-white paragraph-lg font-secondary">santosh@sasyasystems.com</p>
    
                 
                <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
                   
                   <span class="mb-3"></span><a class="text-white" href="#"><i class="ti-facebook"></i></a>
                  
                   <span class="mb-3"></span><a class="text-white" href="#"><i class="ti-instagram"></i></a>
             
              <span class="mb-3"></span><a class="text-white" href="#"><i class="ti-linkedin"></i></a>
              <span class="mb-3"></span><a class="text-white" href="#"><i class="ti-youtube"></i></a>
              
                </ul>
                
    
    
            </div>
            <div class="col-md-4">
              <h5 class="text-light">Phone</h5>
              <p class="text-white paragraph-lg font-secondary">+91 8197 239 206</p>
            </div>
            <div class="col-md-4">
              <h5 class="text-light">Address</h5>
              <p class="text-white paragraph-lg font-secondary">426, 19th Main,23rd Cross,HSR Layout, Sector 7,Bangalore – 560102</p>
            </div>
          </div>
        </div>
      </div>
     
    </footer>
<!--<div class="contenttext">-->
    <!-- JS Plugins -->

    <script src="/plugins/jQuery/jquery.min.js"></script>

    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    
    <script src="/plugins/slick/slick.min.js"></script>
    
    <script src="/plugins/shuffle/shuffle.min.js"></script>
    
    <script src="/js/script.min.js"></script>
    </body>
</html>