<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}
<style>
 

.page-title-alt {
    padding: 150px 0 70px;
}
.contentIrriHeading
  {
    color: #206020;
    font-family: "Eras ITC", "Eras Light ITC",  sans-serif!important;
    font-size: 50px;
    text-transform: none;
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
}
.leftContent {
    float: left;
    width: 50%;
    padding-right:40px ;

}

.rightContent {
    float: right;
    width: 50%;
}
</style>

<head>

</head>
<body>
  {{- partial "header.html" . -}}
  
  <br/>

 <section class="section">
  
 
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with site.Data.homepage.about }}

          <h2 class="contentHeading">Why &amp; What SASYA Systems does</h2>
          <p class="contenttext">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="contenttext">
        <div class="leftContent">
                  <!--div class="financingTe"></div-->
                      There is a Low crop yield due to reliance on traditional methods of irrigation, fertigation and pest control. We connect Agriculture farms to help Farmers in automating and optimising their farming activities, reducing costs and increasing yield. 
                      We offer complete solution in automation Irrigation system, Bioflock Culture Management, Greenhouse Automation. Our products accompany you from the first idea to the serial product. Whether hardware or software, individual components, or complete solutions - we have an answer for every requirement.
                    </div>

                
      <div class="rightContent">
                    <div class="videoWrapper">
                        
                         <img src="/img/smartIrrigationflow.png" alt="Snow" width="100%" height="100%">
                    </div>
                </div>

  <div class="clearer"></div>

</div>
      
    </div>
  </section>
    <br/>  <br/>  <br/>   <br/>  <br/>  <br/>   <br/>  <br/>  <br/><br/>  <br/>  <br/>   <br/>  <br/>  <br/>   <br/>  <br/>  <br/>
  
<!--<div class="contenttext">-->
      {{- partial "footer.html" . -}}
    </body>
</html>