
{{ define "main" }}
<link rel="stylesheet" href="plugins/bootstrap/style.min.css">
<style>
.team{
  padding-left: 100px;
}
.teamimage{
  width:500px;
  height:600px;
}
@media(max-width: 768px){
  .teamimage{
  width:650px;
  height:750px;
}
.team{
  padding-left: 50px;
}
}
@media(max-width: 468px){
  .teamimage{
  width:300px;
  height:400px;
}
.team{
  padding-left: 50px;
}
}

</style>

<section class="section">
  
 
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        {{ with site.Data.homepage.about }}

        <h2 class="contentHeading">About Us</h2>
        <p class="contenttext">{{.content | markdownify}}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>
 
 
    
     
    <div class="contentsmallHeading alignleft"> <b> Sasya</b> means ‘Blue/Green’ or ‘Rain/Grain’ </br></div>
    <div class="contenttext">Sasya is a IOT technology company with focus on creating agriculture automation products for farmers and commercial growers
      </div>

    </br>
  </br>
      <div class="contentsmallHeading alignleft"> <b>  Vision & Mission Statement </br></div>
        <div class="contenttext">We enable agriculture farms and greenhouses, helping farmers in automating and optimizing their farming activities, reducing costs and increasing yield
        </div>
    
      </br>
        <div class="contentsmallHeading alignleft"> <b>  Our play </br></div>
          <div class="contenttext">We provides IoT based Smart irrigation, Climate Control and Biofloc Culture Management products for agricultural fields,  Green-houses and in-situ fisheries using Biofloc. We bring together sensors, communication gateways and the cloud technology along with Agri-knowledge for precision farming. 

          </div>

        </br>
        <div class="contentsmallHeading alignleft"> <b> Our Team </br></div>
          <div class="contenttext">A group of technocrats with decades of experience in hardware design and fabrication, software system architecture, plant genetics, fertilizer and precision agriculture and above all passion for agriculture

          </div>
                

<br/>
              


<div class="clearer"></div>

    
  </div>
</section>



<!-- team -->
{{ if site.Data.about.team.enable }}
{{ with site.Data.about.team }}

<h2 class="contentHeading">Sasya Core Team and Advisors</h2>
<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 alignsas contenttext team">
    <img src="\images\team\core.png" alt="Snow" class="teamimage">
    
              </div>
  
              <div class="col-lg-6 col-md-12 col-sm-12 team">
                <img src="\images\team\advisory.png" alt="Snow" class="teamimage">
</div>
   

  </div>



{{ end }}
{{ end }}
<!-- /team -->



{{ end }}