{{ define "main" }}

<section class="section">
  
 
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        {{ with site.Data.homepage.about }}

        <h2 class="contentHeading">About Us</h2>
        <p class="contenttext">{{.content | markdownify}}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>
 
 
    <div class="contenttext">
     
                We are a technology driven Agriculture company with a focus on empowering farmers with our innovative smart irrigation systems and precision farming methods for sustainable agriculture.

Our solution is aimed at increasing the productivity with reduced input costs and man-hours and help towards conservation of our natural resources such as land, water and energy. We are also committed towards driving mass adoption of precision farming methods as small difference in variability can lead to significant difference in the yield. It helps farmers to maximize productivity with the limited resources available and enables efficient decision making to make sustainable choices.
                
                
                
              </div>
              <div class="container" style=" text-align: center">
    
                <img src="/img/about.png" alt="Snow" width="50%" height="50%">
                
              </div>
<br/>
              


<div class="clearer"></div>

    
  </div>
</section>

<!-- Work Process -->
{{ if site.Data.about.work_process.enable }}
{{ with site.Data.about.work_process }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
        <h4 class="mb-4">{{ .title }}</h4>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Work Process -->

<!-- team -->
{{ if site.Data.about.team.enable }}
{{ with site.Data.about.team }}
<section class="section bg-cover" data-background="{{`images/backgrounds/team-bg.png`|relURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title contentHeading">{{.title }}</h4>
            <p class="text-light font-secondary contenttext"><b>{{.designation }}</b></p>
            <p class="text-light font-secondary contenttext">{{.summary }}</p>
          </div>
          </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

{{ if site.Data.about.clients_logo_slider.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.Data.about.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }}

{{ end }}