<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}
<style>
 

.page-title-alt {
    padding: 150px 0 70px;
}
.contentIrriHeading
  {
    color: #206020;
    font-family: "Eras ITC", "Eras Light ITC",  sans-serif!important;
    font-size: 50px;
    text-transform: none;
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
}
.leftContent {
    float: left;
    width: 50%;
    padding-right:40px ;

}

.rightContent {
    float: right;
    width: 50%;
}
.abutton {
  border-radius: 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
  .card-img-top {
    width: 50%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.Features {
  margin-left:40px;
  background-image: url('/images/backgrounds/bg-dots.png');
}
</style>

<head>

</head>
<body>
  {{- partial "header.html" . -}}
  
  <br/>

 <section class="section">
  <div class="container">
      
    <img src="/images\PrductWebImg\Bio Floc.jpg" alt="Snow" width="100%" height="100%">
    
  </div>

<br/>
  
 
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with site.Data.homepage.about }}

          <h2 class="contentHeading"> <img src="/images\product_Icon\Bio Floc Culture Manage.png" width=10% height="10%">Biofloc Culture Management</h2>
          <p class="contenttext">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="contenttext">
        <h5 class="contentsubHeading IrriTitle">Do you worry about your Biofloc (BFT) parameters and fish health? Do you need a scientific & data driven approach that helps you
          measure key parameters, and also provide alerts on mobile?
        </h5>
      </br>
        <div class="leftContent">
                  <!--div class="financingTe"></div-->
                  In densely populated, low-filtered BFT cultures, the optimum growth and sustenance of the fish and shrimp is dependent on the quality of the water (‘culture’).
                  Measurement of key parameters - pH, EC, temperature, Nitrates, Ammonia and Dissolved O2 is vital. </br>
                  Sasya provides a low-cost, indigenously designed Biofloc Culture Management, based on sensors and IoT principles to  provide real time measurement of these parameters. 
                  <br/>
                   <div style="text-align: center;">
                  <a href="/images/brochure/Brochure_Sasya_Smart_BioFloc_vCl.pdf" target="_blank">
                  <button type="button" class="btn btn-success abutton">Download Brochure</button></a>
                   </div>
                </div>
                    </div>

                
      <div class="rightContent">
                    <div class="videoWrapper">
                        
                         <img src="/img/biofloc.png" alt="Snow" width="100%" height="100%">
                    </div>
                </div>

  <div class="clearer"></div>

</div>
      
    </div>
  </section>
    <br/>  <br/>  <br/>   <br/>  <br/>  <br/>   <br/>  <br/>  <br/><br/>  <br/>  <br/>   <br/>  <br/>  <br/>   <br/>  <br/>  <br/>
  

    <section>
    <div class="contenttext">
      <ul class="Features">
      <h3 class="contentHeading"> Product Features</h3>
    <table>
      <table align="center">
        <tr>
      <td><img src="/img/s1.png"></td>
        <td> Multi-zone Sensor node for many fish tanks connected to same Gateway</td> 
      </tr>
        <tr>
      <td><img src="/img/s2.png"></td>
        <td> Full IoT stack in action for Measure and Control, and provision for automation</td> 
      </tr>
      <tr>
      <td><img src="/img/s3.png"></td>
        <td> Solar powered to ensure parameter tracking and alerting is ON, even in-case of power failure</td> 
      </tr>
      <tr>
      <td><img src="/img/s4.png"></td>
        <td> Wifi connected , can be programmed, monitored and troubleshoot remotely.  </td> 
      </tr>
    
      </ul>
    </table>
    </section>
  
  </br>
  </br>
  </br>
  
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="contentHeading">Biofloc Culture Management Product</h2>
        </div>
        
        <div class="col-md-3 col-sm-4 mb-3 mb-md-0">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title contenttext"> Sensors</h4>
            </div>
            <img src="/img/xy.png" class="card-img-top">
            
            </div>
        </div>
        
        <div class="col-md-3 col-sm-4 mb-3 mb-md-0">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title contenttext">Sensor Node</h4>
            </div>
            <img src="/img/ABC.png" class="card-img-top">
            
            </div>
        </div>
        
        <div class="col-md-3 col-sm-4 mb-3 mb-md-0">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title contenttext">Gateway Controller</h4>
            </div>
            <img src="/img/gateway.png" class="card-img-top">
            
            </div>
        </div>
        <div class="col-md-3 col-sm-4 mb-3 mb-md-0">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title contenttext">Mobile App</h4>
            </div>
            <img src="/img/power.png" class="card-img-top">
            
           
            </div>
        </div>
        
      </div>
    </div>
<!--<div class="contenttext">-->
      {{- partial "footer.html" . -}}
    </body>
</html>