<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}
<style>
 

.page-title-alt {
    padding: 150px 0 70px;
}
.contentIrriHeading
  {
    color: #206020;
    font-family: "Eras ITC", "Eras Light ITC",  sans-serif!important;
    font-size: 50px;
    text-transform: none;
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
}
.leftContent {
    float: left;
    width: 50%;
    padding-right:40px ;

}

.rightContent {
    float: right;
    width: 50%;
}
.center {
  text-align: center;
  
}
</style>

<head>

</head>
<body>
  {{- partial "header.html" . -}}
  
  <br/>

 <section class="section">
  
 
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with site.Data.homepage.about }}

          <h2 class="contentHeading">Platform</h2>
          <p class="contenttext">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="container center">
      
        <img src="/img/platform1.png" alt="Snow" width="80%" height="80%">
        
      </div>
   
      <div class="contenttext">

        <br/><br/>
       
                  <!--div class="financingTe"></div-->

                  Sasya Systems has the back-end platform ready which is currently being used in SaaS mode for its
various clients. The platform provides rich interfaces that will be utilized in the project, such as -
<li>User role set up and login screens based on userid and password. Subsequent, screens will
automatically show the devices and reports as per the user entitlement.</li>
<li>Configurations of devices, sensors, payloads, alerts, rules and trigger points.</li>
<li>Dashboards to show the real time sensor data, and last alerts generated.</li>
<li>Historic data is shown in graphs and table format. Data can be downloaded for offline
analysis.</li>
<li>Operating dashboard provides a way to corelate sensor data with the status of the actuated
machines (for e.g. water moisture sensor data correlation with the status of the pump being
ON/OFF).</li>
<li>Configuration screens allow the set up of alerts, trigger points (max / min trigger) and
screens to see the current status of these triggers.</li>
<li>Additionally, a web page will be provided for non-users (public domain) where content
provided by PAU / World Bank will be uploaded for general public.</li>
                  
                  
                  
                </div>
<br/><br/><br/>
                
  

  <div class="clearer"></div>

      
    </div>
  </section>
  
  
<!--<div class="contenttext">-->
      {{- partial "footer.html" . -}}
    </body>
</html>