<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}
<style>
 

.page-title-alt {
    padding: 150px 0 70px;
}
.contentIrriHeading
  {
    color: #206020;
    font-family: "Eras ITC", "Eras Light ITC",  sans-serif!important;
    font-size: 50px;
    text-transform: none;
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
}
.leftContent {
    float: left;
    width: 50%;
    padding-right:40px ;

}

.rightContent {
    float: right;
    width: 50%;
}
</style>

<head>

</head>
<body>
  {{- partial "header.html" . -}}
  
  <br/>

 <section class="section">
  
 
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with site.Data.homepage.about }}

          <h2 class="contentHeading">Sasya Smart Cold Storage</h2>
          <p class="contenttext">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="contenttext">
        <div class="leftContent">
                  <!--div class="financingTe"></div-->
                  Sasya Smart Cold Storage measures temperature, humidity, CO2 through sensors placed in different zones of cold storage. Data is available on mobile. Notifications are 
                  <div>Constant tracking of parameters & data availability for your operator and customers</div>
                 <div>Save power & prevent machine damage due to overuse</div>
                  <div>Prevent early ripening, starch build-up in the produce</div>
                  <div>Use data to your advantage for higher pricing with customers</div>
                  
                </div>

                
      <div class="rightContent">
                    <div class="videoWrapper">
                        
                         <img src="/img/coldstorage.png" alt="Snow" width="100%" height="100%">
                    </div>
                </div>

  <div class="clearer"></div>

</div>
      
    </div>
  </section>
    <br/>  <br/>  <br/>   <br/>  <br/>  <br/>   <br/>  <br/>  <br/><br/>  <br/>  <br/>   <br/>  <br/>  <br/>   <br/>  <br/>  <br/>
  
<!--<div class="contenttext">-->
      {{- partial "footer.html" . -}}
    </body>
</html>