<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}
<style>
 

.page-title-alt {
    padding: 150px 0 70px;
}
.contentIrriHeading
  {
    color: #206020;
    font-family: "Eras ITC", "Eras Light ITC",  sans-serif!important;
    font-size: 50px;
    text-transform: none;
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
}
.leftContent {
    float: left;
    width: 50%;
    padding-right:40px ;

}

.rightContent {
    float: right;
    width: 50%;
}
.abutton {
  border-radius: 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
  .card-img-top {
    width: 50%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
</style>

<head>

</head>
<body>
  {{- partial "header.html" . -}}
  
  <br/>

 <section class="section">
  
 
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with site.Data.homepage.about }}

          <h2 class="contentHeading">Sasya Smart Cold Storage</h2>
          <p class="contenttext">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="contenttext">
        <div class="leftContent">
                  <!--div class="financingTe"></div-->
                  Sasya Smart Cold Storage measures temperature, humidity, CO2 through sensors placed in different zones of cold storage. Data is available on mobile. Notifications are 
                  <div>Constant tracking of parameters & data availability for your operator and customers</div>
                 <div>Save power & prevent machine damage due to overuse</div>
                  <div>Prevent early ripening, starch build-up in the produce</div>
                  <div>Use data to your advantage for higher pricing with customers</div>
                  <br/>
                      <a href="/images/brochure/coldstorage.pdf">
                      <button type="button" class="btn btn-success abutton">Link to Brochure</button></a>
                      
                    </div>
                </div>

                
      <div class="rightContent">
                    <div class="videoWrapper">
                        
                         <img src="/img/coldstorage.png" alt="Snow" width="100%" height="100%">
                    </div>
                </div>

  <div class="clearer"></div>

</div>
      
    </div>
  </section>
    <br/>  <br/>  <br/>   <br/>  <br/>  <br/>   <br/>  <br/>  <br/><br/>  <br/>  <br/>   <br/>  <br/>  <br/>   <br/>  <br/>  <br/>
  
    <section>
      <div class="contenttext">
        <ul class="Features">
        <h3 class="contentHeading"> Product Features</h3>
      <table>
        <table>
          <tr>
        <td><img src="/img/s1.png"></td>
          <td> Extendible Multi-Zone Sensor Banks: Temperature, Humidity Sensor at all levels, CO2 at ground level.</td> 
        </tr>
          <tr>
        <td><img src="/img/s2.png"></td>
          <td> Multi Displays: Local display of parameters for the operator, office computer and mobile for 24X7 monitoring & notifications.</td> 
        </tr>
        <tr>
        <td><img src="/img/s3.png"></td>
          <td> Wireless Connectivity between Controller and Machine Room.</td> 
        </tr>
        <tr>
        <td><img src="/img/s4.png"></td>
          <td> Multiple Connectivity modes: Wifi, GSM, NB-IoT,  LoRa tech.</td> 
        </tr>
        <tr>
          <td><img src="/img/s1.png"></td>
            <td> Actuation: Multi-zone Relays for actuation of Water pumps.</td> 
          </tr>
        </ul>
      </table>
      </section>
    
    </br>
    </br>
    </br>
    
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="contentHeading">Smart Irrigation Product</h2>
          </div>
          
          <div class="col-md-3 col-sm-4 mb-3 mb-md-0">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title contenttext">Soil pF Sensors</h4>
              </div>
              <img src="/img/xy.png" class="card-img-top">
              
              </div>
          </div>
          
          <div class="col-md-3 col-sm-4 mb-3 mb-md-0">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title contenttext">Sensor Node</h4>
              </div>
              <img src="/img/ABC.png" class="card-img-top">
              
              </div>
          </div>
          
          <div class="col-md-3 col-sm-4 mb-3 mb-md-0">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title contenttext">Gateway Controller</h4>
              </div>
              <img src="/img/gateway.png" class="card-img-top">
              
              </div>
          </div>
          <div class="col-md-3 col-sm-4 mb-3 mb-md-0">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title contenttext">Power Supply</h4>
              </div>
              <img src="/img/power.png" class="card-img-top">
              
             
              </div>
          </div>
          
        </div>
      </div>
<!--<div class="contenttext">-->
      {{- partial "footer.html" . -}}
    </body>
</html>